
/*

Created by Matej Kovac
http://moodydev.io

*/

/* FONT IMPORTS */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.icon {
  font-family: "Material Icons", serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

/* VARIABLES */

:root {
  --main-color: #1a8fff;
  --text-color: #454545;
  --text-color-light: #ccc;
  --border-color: #C0C0C0;
  --bg-color: #F2F4F4;
  --neutral-color: #fff;
}

/* GENERAL */

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  color: var(--text-color);
  /* background: var(--bg-color); */
}

header {
  display: block;
  width: 100%;
  /* padding: 1.75em 0; */
  border-bottom: 2px solid var(--border-color);
  background: var(--neutral-color);
}

header #logo {
  font-size: 175%;
  text-align: center;
  color: var(--main-color);
  line-height: 1;
}

header #logo .icon {
  padding-right: 0.25em;
}
.daynames{
  color: var(--text-color);
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
}

main {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  max-width: 50em;
}

/* GRID */

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  text-align: center;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
  border-right: 2px solid var(--border-color);
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}

/* Calendar */

.calendar {
  display: block;
  position: relative;
  width: 100%;
  background: var(--neutral-color);
  border: 2px solid var(--border-color);
}

.calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 2px solid var(--border-color);
}

.calendar .header .icon {
  cursor: pointer;
  transition: 0.15s ease-out;
}

.calendar .header .icon:hover {
  transform: scale(1.75);
  transition: 0.25s ease-out;
  color: var(--main-color);
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--text-color-light);
  font-size: 70%;
  /* padding: 0.75em 0;
  border-bottom: 1px solid var(--border-color); */
}

.calendar .body .cell {
  position: relative;
  height: 6em;
  border-right: 2px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

.calendar .body .cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

.calendar .body .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%, #53cbf1 40%);
  border-image-slice: 1;
}

.calendar .body .row {
  border-bottom: 2px solid var(--border-color);
}

.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .cell:last-child {
  border-right: none;
}

.calendar .body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: 0.75em;
  /* right: 0.75em; */
  font-weight: 700;
}

.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -0.2em;
  right: -0.05em;
  transition: 0.25s ease-out;
  letter-spacing: -0.07em;
}

.calendar .body .cell:hover .bg,
.calendar .body .selected .bg {
  opacity: 0.05;
  transition: 0.5s ease-in;
}

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100% / 7);
  width: calc(100% / 7);
}
/* manual css bilal */

.selectdt{
  width: 24px;
    height: 24px;
    line-height: 24px;
    padding: 4px 0px;
    margin: auto;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    color: #185abc;
    background-color: #d2e3fc;
    margin-top: -10px;
    margin-left: -10px;
}
.tagday{
  font-size: 0.80em;
  background: rgb(3, 155, 229);
  color: #fff;
  font-weight: 600;
  border-radius: 4px;
  text-align: start;
  padding: 1px 8px;
  margin-right: 5px;
  margin-bottom: 2px;
  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tagdaymore{
    font-size: 0.80em;
    color: #3c4043;
    font-weight: 600;
    border-radius: 4px;
    text-align: start;
    padding: 1px 8px;
    margin-right: 5px;
    margin-bottom: 2px;
}

.tagdaymore:hover {
  background-color: aliceblue;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.headerday{
  color: #70757a;
  font-size: 11px;
  letter-spacing: .8px;
  line-height: 16px;
  padding-bottom: 0;
  text-transform: uppercase;
}
.subTitpopDate {
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  outline: none;
  font-size: 26px;
  letter-spacing: -2.6px;
  text-indent: -2.6px;
  font-variant: tabular-nums;
  -webkit-font-feature-settings: "tnum" 1;
  font-feature-settings: "tnum" 1;
  line-height: 40px;
  color: #3c4043;
  /* width: 40px; */
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 40px;
  text-align: center;
}
.bgDR{
  background: red !important;
}
.bgPR{
  background: #efa42d !important;
}
.bgCR{
  background: #6495ED !important;
}
.bgNR{
  background: #62b445 !important;
}
.bgMR{
  background: #F4D03F !important;
}
.bgGR{
  background: #DE3163 !important;
}
.bgFR{
  background: #DFFF00 !important;
}
.bgRR{
  background: #9B59B6 !important;
}
.bgER{
  background: #F49A3C;
}
.bgTR{
  background: #f1ea11;
}
.poplistlf{
  width: 50%;
    float: left;
    font-size: 12px;
    margin-bottom: 0px !important;
}
.poplistlr{
  width: 50%;
    float: left;
    font-size: 12px;
    margin-bottom: 0px !important;
}
.menuIcpnpos{
  position: absolute;
    z-index: 11;
    right: 2.5rem;
    width: 17px !important;
}

#simple-popover{
  position: fixed;
    z-index: 1200 !important;
    right: 0px;
    bottom: 0px;
    top: 0px;
    left: 0px;
}
.MuiTypography-displayBlock {
  display: block !important;
  font-size: 12px !important;
  text-align: left !important;
  font-weight: 400 !important;
}
.spnclose {
  font-size: 12px;
    float: right;
    color: green;
    font-weight: 600;
    padding-right: 1.7rem;
    padding-top: 0.2rem;
}
@media(max-width: 950px){
  .spnclose {
    font-size: 0px;
  }
}
.spncloself {
  font-size: 12px;
  float: left;
  padding-left: 1rem;
  color: red;
  font-weight: 600;
  line-height: 2.5;
}
[badge]:after {
  background: green;
  border-radius: 46%;
  color: #fff;
  content: attr(badge);
  font-size: 11px;
  margin-top: -10px;
  min-width: 15px;
  height: 15px;
  padding: 2px;
  position: absolute;
  text-align: center;
  top: 12px;
  right: 5px;
  line-height: 1.5;

}

[badge^="-"]:after,
[badge="0"]:after,
[badge=""]:after {
display: none;
}

.ExeIcon{
  font-size: 14px !important;
    position: relative;
    top: 2px;
    left: -4px;
    color: rgba(0, 0, 0, 0.87);
}

.openperc{
  font-size: 12px;
    float: left;
    color: #0d71f1;
    font-weight: 600;
    position: absolute;
    left: 5px;
    top: 5px;
}
.moreperc{
  color: red;
}